---
const { ruta, tituloProyecto, tagsProyecto, enlace } = Astro.props;
import { Image } from "astro:assets";
---

<div
  class="card min-w-[240px] max-w-[340px] h-[400px] bg-[#ffffff48] shadow-xl hover:bg-[#c0fbfab3] transition-all duration-500 ease-in-out group">
  <figure class="rounded-3xl mx-1.5 lg:group-hover:scale-125 transition-all duration-500 ease-in-out">
    <Image src={ruta} alt="project img" />
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="text-4xl lg:group-hover:opacity-15 transition-all duration-500 ease-in-out">{tituloProyecto}</h2>
    <p class="lg:group-hover:opacity-15 transition-all duration-500 ease-in-out">{tagsProyecto}</p>
    <div class="card-actions">
      <a href={enlace} target="_blank" rel="noopener noreferrer">
        <button class="btn btn-primary lg:group-hover:scale-135 transition-all duration-500 ease-in-out">Visitar</button>
      </a>
    </div>
  </div>
</div>
