---
import Laptop from "./Laptop.astro";
import Profile from "./Profile.astro";
import Presentation from "./Presentation.astro";
import BottonToMyProjects from "./BottonToMyProjects.astro";
---

<section class="min-h-screen">
  <div class="flex flex-col md:flex-row flex-wrap justify-center items-center animate__animated animate__slideInLeft">
    <Profile />
    <Presentation />
    <BottonToMyProjects />
    <Laptop />
  </div>
</section>
