---
import { Image } from "astro:assets";
import LaptopBg from "/src/img/Laptop.svg"
---
<div class="w-[100%] grid place-items-center" >
  <Image class="min-md:w-[40vw] max-md:w-[60vw]" src={LaptopBg} alt="this is my laptop's design" />
</div>
