<div class="max-md:w-[80%] min-md:w-[50%]">
  <h1 class="mb-5 max-md:text-5xl min-md:text-7xl">Hola, soy Frey!</h1>
  <span class="max-md:text-[1.1rem] min-md:text-2xl">
    Desarrollador <span class="font-bold text-shadow-sm text-shadow-cyan-500 text-blue-700 text-[1.7rem]">Front-End</span> y diseñador
    <span class="font-bold text-shadow-sm text-shadow-amber-700 text-yellow-500 text-[1.7rem]">UX/UI</span> de <span class="opacity-65"
      >Republica Dominicana</span
    >, especializado en la creación páginas web ligeras y <span
      class="font-bold text-shadow-sm text-shadow-blue-700 text-red-600 text-[1.7rem]">optimizadas</span
    > para <span class="text-[2.4rem] font-bold text-shadow-sm text-shadow-emerald-900 text-orange-700">SEO</span>
  </span>
</div>
